extends layout/_main

block variables
	- var title = 'Главная страница'

block content
	.container
		.container-wrapper
			.filter-header.flex.flex_jc-sb.flex_a-c.p
				p.filter-header__title Выберите друзей
				button.filter-header__close.button-reset
			.filer-search.flex.flex_jc-sb.flex_a-c.p
				input(type="text" placeholder="Начните вводить имя друга").input_img.input-friends-vk
				input(type="text" placeholder="Название").input-friends-save
			.filter-body.flex.flex_jc-sb.p
				.left-column
					p.filter-body__title Ваши друзья
					.friends-wrapper
							
				.right-column
					p.filter-body__title Друзья в списке
					.friends-wrapper
			
			.filter-footer.p.flex.flex_a-c
				button.button-save.js-button Сохранить
block script
	include parts/templateHandlebars.html
	
