extends layout/_main

block variables
	- var title = 'Главная страница'

block content
	.container
		.container-wrapper
			.filter-header.flex.flex_jc-sb.flex_a-c.p
				p.filter-header__title Выберите друзей
				button.filter-header__close.button-reset
			.filer-search.flex.flex_jc-sb.flex_a-c.p
				input(type="text" placeholder="Начните вводить имя друга").input_img
				input(type="text" placeholder="Название")
			.filter-body.flex.flex_jc-sb.p
				.left-column
					p.filter-body__title Ваши друзья
					.friends-wrapper
						.friends-item.flex.flex_a-c
							.friends-item__img.flex
								img(src="img/irishka.png", alt="1")
							.friends-item__title
								p Artem Barabanov
							.friends-item__button.flex
								button
						//- endFirst
						.friends-item.friends-item_active.flex.flex_a-c
							.friends-item__img.flex
								img(src="img/irishka.png", alt="1")
							.friends-item__title
								p Artem Barabanov
							.friends-item__button.flex
								button
						.friends-item.flex.flex_a-c
							.friends-item__img.flex
								img(src="img/irishka.png", alt="1")
							.friends-item__title
								p Artem Barabanov
							.friends-item__button.flex
								button
						.friends-item.flex.flex_a-c
							.friends-item__img.flex
								img(src="img/irishka.png", alt="1")
							.friends-item__title
								p Artem Barabanov
							.friends-item__button.flex
								button
						.friends-item.flex.flex_a-c
							.friends-item__img.flex
								img(src="img/irishka.png", alt="1")
							.friends-item__title
								p Artem Barabanov
							.friends-item__button.flex
								button
						.friends-item.flex.flex_a-c
							.friends-item__img.flex
								img(src="img/irishka.png", alt="1")
							.friends-item__title
								p Artem Barabanov
							.friends-item__button.flex
								button
						
				.right-column
					p.filter-body__title Друзья в списке
					.friends-wrapper
						.friends-item.flex.flex_a-c
							.friends-item__img.flex
								img(src="img/irishka.png", alt="1")
							.friends-item__title
								p Artem Barabanov
							.friends-item__button.friends-item__button_remove.flex
								button
						//- endFirst
						.friends-item.friends-item_active.flex.flex_a-c
							.friends-item__img.flex
								img(src="img/irishka.png", alt="1")
							.friends-item__title
								p Artem Barabanov
							.friends-item__button.friends-item__button_remove.flex
								button

			
			.filter-footer.p.flex.flex_a-c
				button Сохранить
block script